.images {
    display: flex;
    margin-left: 38px;
    width: 800px;
    flex-wrap: wrap;
}

#theProductImg {
    width: 150px;
    height: 150px;
    margin: 5px 5px 5px 0px;
    padding: 5px 5px 5px 0px;
}

.imagesDetailFlowers {
    display: flex;
    margin-left: 0px;
    padding-left: 0px;
    width: 800px;
    flex-wrap: wrap;
}